/* GLOBAL DEFAULTS */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css'; 


body{
    background-color: grey;

    font-family: Arial, Helvetica, sans-serif
}

a{
    color: gainsboro
}

img,
iframe{
    max-width: 100%;

}
/* HEADINGS AND TYPOOGRAPHY*/

h1{
    background-color: peachpuff;
    color: black;
}

/* LAYOUTS*/
.layout-wide {

    max-width: 800px ;
margin-left:auto;
margin-right:auto;

padding:20px;

}

/* HEADER AND MIAN AND FOOTER*/

header{ 
background-color: pink;

}

main {
background-color:palevioletred;
}

/*NAVIGATIONS*/

/*MODULES*/ 
.module-name a{
    color:gainsboro;
}
.news-component
{background-color: #f1f1f1;
    padding: 20px
 
}

@media screen and (min-width:800px) {

    .news-component {
        background-color: plum;

        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}

.layout-wide {

    max-width: 800px;
margin-left:auto;
margin-right:auto;
}