/* GLOBAL DEFAULTS */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css'; 

body{
    background-color:rgb(243, 131, 141);

    font-family: Helvetica, sans-serif;
    
}
a{
    color: gainsboro
}

img,
iframe{
    max-width: 100%;

}
/* HEADINGS AND TYPOOGRAPHY*/

h1{
    background-color: peachpuff;
    color: black; 
    font-family: Helvetica, sans-serif;
}

/* LAYOUTS*/
.layout-wide {

    max-width: 800px ;
margin-left:auto;
margin-right:auto;

padding:20px;

}

/* HEADER AND MIAN AND FOOTER*/

header{ 
background-color: pink;

}

main {
background-color:rgb(243, 131, 141);
font-family: Helvetica;  

}
img
iframe{
    max-width: 85%;
}

/*NAVIGATIONS*/

/*MODULES*/ 
.module-name a{
    color:gainsboro;
}
.news-component
{background-color: #f1f1f1;
    padding: 20px
 
}

@media screen and (min-width:800px) {

    .news-component {
        background-color: rgb(240, 231, 240);

        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}

.layout-wide {

    max-width: 800px;
margin-left:auto;
margin-right:auto;
}